<a href="https://colab.research.google.com/github/NikhilJ2712/Data-Science/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import Data Manipulation Library
import pandas as pd
import numpy as np

In [4]:
# Define a Series : 1-D Array

a = pd.Series([1,2,3,4,5])
print(a)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
b = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(b)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
b = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
b

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [9]:
# Using Concept Of Indexing
print(a.dtype)
print(a[3])
print(b['d'])

int64
4
4

<ipython-input-9-647a4b0ef57c>:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(a[3])

In [10]:
# 2D
c = pd.DataFrame({'India':[2000],'USA' :[3000],
         'UK':[30000]
})
print(c)

   India   USA     UK
0   2000  3000  30000

In [12]:
# Create Student Dsatabase
database = {'Name':['Nikhil', 'Aniket', 'Mihir', 'Tanvi', 'Hemangi'],
            'Age' :[10,11,12,13,14],
            'Marks':[34,56,67,34,56],
            'CGPA':[8,6,9,6,8]
    }

# Create a Variable df: Which will store dataframe
df = pd.DataFrame(database)
print(df)

      Name  Age  Marks  CGPA
0   Nikhil   10     34     8
1   Aniket   11     56     6
2    Mihir   12     67     9
3    Tanvi   13     34     6
4  Hemangi   14     56     8

In [15]:
df

      Name  Age  Marks  CGPA
0   Nikhil   10     34     8
1   Aniket   11     56     6
2    Mihir   12     67     9
3    Tanvi   13     34     6
4  Hemangi   14     56     8

In [17]:
df[df['Name'] == 'Tanvi']

    Name  Age  Marks  CGPA
3  Tanvi   13     34     6

In [19]:
df[df['Name'] == 'Nikhil']

     Name  Age  Marks  CGPA
0  Nikhil   10     34     8

In [20]:
# Using agg() : Aggregate Function

df['Marks'].agg(['min','max','mean'])

min     34.0
max     67.0
mean    49.4
Name: Marks, dtype: float64

In [25]:
df[df['Marks'] == max(df['Marks'])]

    Name  Age  Marks  CGPA
2  Mihir   12     67     9

In [27]:
df[df['Marks'] == 67]

    Name  Age  Marks  CGPA
2  Mihir   12     67     9

In [24]:
df[df['CGPA'] == 6]

     Name  Age  Marks  CGPA
1  Aniket   11     56     6
3   Tanvi   13     34     6

In [28]:
# Checking DataFrame Information

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Marks   5 non-null      int64
 3   CGPA    5 non-null      int64
dtypes: int64(3), object(1)
memory usage: 292.0+ bytes

In [29]:
# This code will check if any missing values in Dataset

df.isnull().sum()

Name     0
Age      0
Marks    0
CGPA     0
dtype: int64

In [31]:
print(df['Marks'].sum())
print(df['Marks'].mean())
print(df['Marks'].max())
print(df['Marks'].min())
print(df['Marks'].nunique())
print(df['Marks'].unique())
print(df['Name'].value_counts())
print(df['Marks'].value_counts())

247
49.4
67
34
3
[34 56 67]
Name
Nikhil     1
Aniket     1
Mihir      1
Tanvi      1
Hemangi    1
Name: count, dtype: int64
Marks
34    2
56    2
67    1
Name: count, dtype: int64

In [36]:
# Create Company Database
Company = {'Name':['Nikhil', 'Aniket', 'Mihir', 'Tanvi', 'Hemangi', 'Yash', 'Disha','Shreya'],
            'Salary' :[50000,60000,70000,71000,89000,78000,67000,55000],
            'No_of_Exp':[1,2,3,4,5,6,7,8],
            'Domain':['Tech','Nontech','HR','R&D', 'Tech', 'Nontech', 'HR','Tech'],
            'Age':[20,21,22,23,24,25,26,27],
            'Gender':['M','M','M','F','F','M','F','F']
    }

 # Create a Variable df: Which will store dataframe
df = pd.DataFrame(Company)
print(df)

      Name  Salary  No_of_Exp   Domain  Age Gender
0   Nikhil   50000          1     Tech   20      M
1   Aniket   60000          2  Nontech   21      M
2    Mihir   70000          3       HR   22      M
3    Tanvi   71000          4      R&D   23      F
4  Hemangi   89000          5     Tech   24      F
5     Yash   78000          6  Nontech   25      M
6    Disha   67000          7       HR   26      F
7   Shreya   55000          8     Tech   27      F

In [39]:
# Checking DataFrame Information

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       8 non-null      object
 1   Salary     8 non-null      int64
 2   No_of_Exp  8 non-null      int64
 3   Domain     8 non-null      object
 4   Age        8 non-null      int64
 5   Gender     8 non-null      object
dtypes: int64(3), object(3)
memory usage: 516.0+ bytes

In [42]:
# Evaluting the Max Number Of Exp From The Dataset

df[df['No_of_Exp'] == max(df['No_of_Exp'])]

     Name  Salary  No_of_Exp Domain  Age Gender
7  Shreya   55000          8   Tech   27      F

In [58]:
# Evaluting the Max Number Of Exp From The Dataset

df['No_of_Exp'].max()

8

In [43]:
# Evaluting the Min Number Of Exp From The Dataset

df[df['No_of_Exp'] == min(df['No_of_Exp'])]

     Name  Salary  No_of_Exp Domain  Age Gender
0  Nikhil   50000          1   Tech   20      M

In [59]:
# Evaluting the Min Number Of Exp From The Dataset

df['No_of_Exp'].min()

1

In [45]:
# Evaluting the Mean Number Of Exp From The Dataset

df['No_of_Exp'].mean()

np.float64(4.5)

In [60]:
# Evaluting the data of Female Employee

f= df[df['Gender'] == 'F']
print(f)

      Name  Salary  No_of_Exp Domain  Age Gender
3    Tanvi   71000          4    R&D   23      F
4  Hemangi   89000          5   Tech   24      F
6    Disha   67000          7     HR   26      F
7   Shreya   55000          8   Tech   27      F

In [61]:
# Max Salary Of Female

f['Salary'].max()

89000

In [62]:
# List the Maximum salary of Female
f[f['Salary'] == 89000]

      Name  Salary  No_of_Exp Domain  Age Gender
4  Hemangi   89000          5   Tech   24      F

In [54]:
f = df[df['Gender'] == 'F']
f['Salary'].max()
f[f['Salary'] == 89000]

      Name  Salary  No_of_Exp Domain  Age Gender
4  Hemangi   89000          5   Tech   24      F

In [55]:
df['Gender'].value_counts()

Gender
M    4
F    4
Name: count, dtype: int64